html {
  font-size: 62.5%; /************************* 16px x 62.5 = 10px = 1rem *************************/
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/************************* Layout *************************/
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 3rem;
  height: 100%;
}
main {
  /* background: url(../src/bg.jpg) center 50%; */
  grid-area: main;
  padding: 1rem;
}

/************************* Header *************************/
header {
  grid-area: header;
  background-color: #274293;
}
header a {
  color: #ffffff;
  padding: 2rem;
}
.nav-item:hover {
  background-color: #59aa35;
  color: #274293;
}
.logo {
  margin-left: -2rem;
  width: 11.2rem;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/************************* Dropdown *************************/
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 14rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/************************* Footer *************************/
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 3 1 50rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 1 1 25rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

/************************* Common *************************/
a {
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #59aa35;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

.test {
  transition: 300ms ease-in;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  background: #242424;
  border-radius: 9px;
  width: 495px;
  height: 495px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
  opacity: opacity;
  left: 50vw;
  top: 50vw;
  transform: translate(-50%, -50%);
  background: #242424;
}

input,
select,
textarea,
.button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  text-align: center;
}
/************************* Buttons *************************/

.button {
  background-color: #365bc9;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
.button:hover {
  border: 0.1rem #365bc9 solid;
}
.button.primary {
  background-color: #365bc9;
  font-weight: 750;
  color: #b2e09e;
}

.button:hover {
  background-color: #59aa35;
  color: #365bc9;
}
.button.block {
  width: 100%;
}
.button.small {
  color: #b2e09e;
  font-size: 1.5rem;
}
.button.small:hover {
  background-color: #59aa35;
  color: #365bc9;
}
h1 {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: bold;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

/************************* Image *************************/
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  max-width: 70rem;
  width: 100%;
}

/************************* Card *************************/
.card {
  border: 0.1rem grey solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 2rem;
}
.card a {
  display: block;
}
.card:hover {
  transform: scale(1.05, 1.05);
}
.card-body {
  padding: 0.5rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}
.description {
  font-size: 2rem;
  font-style: italic;
}
.back {
  font-weight: normal;
  color: #274293;
}
.back:hover {
  text-decoration: underline;
}
.price {
  font-size: 2rem;
  color: #b12704 !important;
}

/************************* Alert *************************/
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

/************************* Form *************************/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form label {
  margin-bottom: 0.5rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/************************* Table *************************/
.table {
  width: wrap;
  min-width: 70%;
  border-collapse: collapse;
  margin: auto;
}
.table-title {
  text-align: center;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
.end {
  margin-left: 47%;
  margin-top: 1em;
}
/************************* Checkout Steps *************************/
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

/************************* Dashboard *************************/

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}

/************************* Search *************************/
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
  height: 4rem;
}
.search input {
  border-radius: 0.5rem 0 0 1rem;
  border-right: none;
  margin-left: 0.5rem;
}

/************************* Popup *************************/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
